*{
  margin: 0;
  --brightGreen: #D2E64F;
  --lightGreen:  #F2F5DE;
}

body{
  background-color: var(--lightGreen);
}

.button{
  background-color: #D2E64F;
  border-radius: 5px;
  border: none;
  /* margin: 10px; */
  padding: 10px 15px;
  font-weight: bold;
  color: #0f240d;
  font-family: "Source_Sans_Pro", sans-serif;
}

.button:hover {
  background-color: #a9be23;
}

/*TOGGLE VIEW CSS*/
.toggle{
  background: lightgray;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}

input[type=radio] {
  display: none;
}

label {
  width: 100px;
  display: inline-block;
  text-align: center;
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.selector{
  height: 35px;
  width: 100px;
  background: #D2E64F;
  border-radius: 30px;
  position: absolute; 
  top: 50%; /* Adjust the vertical position */
  transform: translateY(-50%);
  /* left: 50px; */
  z-index: 1;
  transition: left .25s ease-in-out;
}

.card-view:checked ~ .selector {
  left: 2px;
}

.map-view:checked ~ .selector {
  left: 100px; /*width of our label*/
}
/*end of toggle view button css*/

.locationCard{
  width: 300px;
  height: 400px;
  background-color: var(--brightGreen);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.locationName{
  font-weight: 400;
  font-size: 20px;
  padding-top: 10px;
}

.rating{
  font-weight: 400;
  padding-top: 10px;
}

.imageCard{
  background-color: white;
  border-radius: 10px;
  height: 230px;
}

.specialFeatures{
  font-weight: 400;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

/*submit ticket page*/
.headingBox {
  color: #274d24;
  border: 2px solid #7D9C7B; 
  border-radius: 2px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 2px 5px;
  display: inline-block;
}

.headingBox2 {
  color: #274d24;
  margin: 5px;
  padding: 2px 5px;
  display:flex;
}

.ticketLabel {
  font-weight: bold;
  color: #274d24;
  margin: 20px;
  display: inline;
}

.ticketInput {
  padding: 5px;
  border: 2px solid #7D9C7B;
  border-radius: 5px;
  background-color: transparent;
  outline: none; 
}

/* Optional: Add hover and focus styles for better user experience */
.ticketInput:hover,
.ticketInput:focus {
  border-color: #274d24; /* Change border color on hover and focus */
}

.form-group {
  margin-bottom: 15px; /* Add spacing between form groups */
}

#smaller{
  font-size: smaller;
}

.checkbox-container {
  margin-bottom: 10px; /* Add spacing between checkbox groups */
  display: flex; /*added*/
}

.checkbox-container input[type="checkbox"] {
  display: block;
  margin-bottom: 5px;
}

.checkbox-container label {
  /* display: block; */
  vertical-align: middle;
  color: #274d24; /* Set label color */
}

textarea {
  width: calc(100% - 20px); /* Adjust the width of the textarea */
  height: 100px; /* Set textarea height */
  padding: 5px; /* Add padding */
  border: 2px solid #7D9C7B; /* Add border */
  border-radius: 5px; /* Add border radius */
  margin-bottom: 10px; /* Add spacing between textarea and button */
}

#ticketSubmit {
  display: block;
}

.oneCheckbox{
  margin-bottom: 10px;
}
/*end submit ticket page*/



/*home*/
.container {
  justify-content: center;
  align-items: center;
  height: 60vh;
  display: flex;
}

.content {
  text-align: center;
}

#centerButton {
  margin-top: 5vh;
  /* margin-left: 25%; */
  transform: translateX(-50%, -50%);
  font-size: 20px;
  padding: 20px 50px;
}

.titleText {
  color: #274d24;
  border: 2px solid #7D9C7B;
}

p {
  /* margin-top: 20px;
  text-align: left;
  color: #0f240d;
  border: 2px solid #7D9C7B; 
  border-radius: 5px;
  padding: 5px 9px; */

  margin: 20px 350px;
  text-align: left;
  color: #0f240d;
  border: 2px solid #7D9C7B; 
  border-radius: 5px;
  padding: 5px 9px;
}