*{
  margin: 0;
  --brightGreen: #D2E64F;
  --lightGreen:  #F2F5DE;
}

body{
  background-color: var(--lightGreen);
}

.button{
  background-color: #D2E64F;
  border-radius: 15px;
}

/*TOGGLE VIEW CSS*/
.toggle{
  background: lightgray;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}

input[type=radio] {
  display: none;
}

label {
  width: 100px;
  display: inline-block;
  text-align: center;
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.selector{
  height: 35px;
  width: 100px;
  background: #D2E64F;
  border-radius: 30px;
  position: absolute; 
  top: 50%; /* Adjust the vertical position */
  transform: translateY(-50%);
  /* left: 50px; */
  z-index: 1;
  transition: left .25s ease-in-out;
}

.card-view:checked ~ .selector {
  left: 2px;
}

.map-view:checked ~ .selector {
  left: 100px; /*width of our label*/
}
/*end of toggle view button css*/

.locationCard{
  width: 300px;
  height: 400px;
  background-color: var(--brightGreen);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.locationName{
  font-weight: 400;
  font-size: 20px;
  padding-top: 10px;
}

.rating{
  font-weight: 400;
  padding-top: 10px;
}

.imageCard{
  background-color: white;
  border-radius: 10px;
  height: 230px;
}

.specialFeatures{
  font-weight: 400;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}