body{
  background-color: #F2F5DE;
}

.button{
  background-color: #D2E64F;
  border-radius: 15px;
  border-color: rgb(73, 204, 73);
}

.locationCard{
  width: 25vw;
  height: 50vh;
  background-color: #D2E64F;
  border-radius: 20px;
  margin: 5vh;
}